<app-home-hero></app-home-hero>

<div class="flex justify-around my-9">
    <img src="/assets/brand-1.png" alt="">
    <img src="/assets/brand-2.png" alt="">
    <img src="/assets/brand-3.png" alt="">
    <img src="/assets/brand-4.png" alt="">
    <img src="/assets/brand-5.png" alt="">
</div>

<!-- <section class="grid grid-cols-12 gap-5">

    <div class="col-span-6">
        <img class="w-full" src="/assets/card.png" alt="">
    </div>

    <div class="col-span-6 grid grid-cols-12 gap-5">
        <img class="col-span-6 w-full" src="/assets/card.png" alt="">
        <img class="col-span-6 w-full" src="/assets/card.png" alt="">
        <img class="col-span-6 w-full" src="/assets/card.png" alt="">
        <img class="col-span-6 w-full" src="/assets/card.png" alt="">
    </div>

</section> -->


